# Dependencies
node_modules/

# Expo
.expo/
dist/*
!dist/.gitkeep
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Electron desktop build output
release/

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env
.env*.local
.env

# EAS
ios/
android/

# Editors
.idea/
.vscode/
